<section class="max-w-5xl mx-auto px-6 py-16 flex flex-col items-center space-y-10">


  <!-- Projekttitel -->
  <h1 
    class="text-4xl md:text-5xl font-extralight text-center text-gray-900 break-words">
    {{ title }}
  </h1>
  <p class="text-center text-gray-600 max-w-3xl">
    Hier können Sie das Projekt-Dokument einsehen und herunterladen.
  </p>

  <a
    [href]="pdfUrlWithParams.split('#')[0]"
    target="_blank"
    class="mt-6 px-8 py-3 bg-orange-600 text-white rounded-xl shadow-lg hover:bg-orange-500 transition-all duration-300">
    PDF herunterladen
  </a>

  <!-- PDF Container -->
  <div class="w-full shadow-2xl rounded-xl border border-gray-100 mt-8 bg-gray-100 p-2">
    <iframe
      [src]="pdfUrlWithParams | safeUrl"
      class="w-full h-[150vh] rounded-lg"
      style="border:none;">
    </iframe>
  </div>
</section>

